#container {
    width: 693px;
    text-align: justify;
    background-color: #fff;
    margin: auto;    
}

body{
    background-color: #cccccc;
    font-family: Verdana;
    font-size: 11px;    
}

p:first-letter{
    color: blue;
    font-weight: bold;
    font-size:38px;
    font-family:'Times New Roman';
}

#content {
    width:693px;
    height:600px;
    float:left; 
    background-color:#FFF;         
}

h3{
    padding-left: 10px;
}

h1{
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}
    
#header{
    height:50px;
    background-color:#b0b0b0;    
}

ul{
    margin:0;
    padding: 0px; 
    width: 720px; 
    list-style: none; 
    text-transform: uppercase;        
}                                

li{
    display:inline;
    float: left; 
    font-size: 11px;
    text-decoration: none;
}

a {
    padding:0 10px 0 10px;
    line-height: 25px;     
    text-decoration: none;    
    color: #FFF; 
    float: left;
    display: block; 
    background-image:url(images/nb.gif);
    background-repeat:repeat-x;
    display: block;        
} 

a:link {
    text-decoration: none;    
}

a:visited {
    color: white;
    text-decoration: none;
    font-weight:400%; 
}

a:hover {
    background-position: right bottom ;    
    color: #333; 
    font-weight: 400%; 
}

a:active {
    color: #ffffff;
    font-weight: 400%; 
    text-decoration: underline;
}
